.container{
    text-align: center;
    height: 90vh;
    width: 100vh;
}
#img1{
    padding: 2px;
    position: relative;
    bottom: 20px;
    height:748px;
    width: 500px;
    overflow: hidden;
}
#title{
    margin: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(95, 95, 95);
    font-size: 35px;
}

@media(max-width: 858px){
    #img1{
        height:500px;
    }
    #title{
        font-size: 25px;
        margin: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }   
}
@media(max-width: 400px){
    #img1{
        height:400px;
        position: relative;
        top: 160px;
    }
    #title{
        font-size: 15px;
        margin: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }   
}

